.myui-combo
{
	border:1px solid #ddd;
}

.myui-combo-item
{
	padding: 5px;
	border-bottom: 1px solid #ddd;
}

.myui-combo-item:last-child
{
	border-bottom: 0;
}

.myui-combo-item.highlight
{

}

/**combo input*/
.myui-combo-input
{

}

.myui-combo-panel
{
	display: none;
	position: absolute;
	top:0;
}

.myui-combo-input-container
{
	position: relative;
}