.myui-combo
{
	border:1px solid #ddd;
}

.myui-combo-item
{
	padding: 5px;
	border-bottom: 1px solid #ddd;
}

.myui-combo-item:last-child
{
	border-bottom: 0;
}

.myui-combo-item:hover
{
	background-color: #f9f9f9;
}

.myui-combo-item.highlight
{
	background-color: #286090;
}