.col-split
{
	display: none;
	position: absolute;
	top:0px;
	height: 1px;
	border: 1px solid #333;
}

.myui-table
{
	max-width: inherit;
	margin-bottom: 0px;
	white-space: nowrap;
}

.myui-table th
{
	position: relative;    
	text-align:center;	
}
.myui-table th.sortable{
	cursor: pointer;
}
.myui-table th .split
{
	cursor: col-resize;
	display: inline-block;
	position:absolute;
	right:-2px;
	top:0px;
	width: 5px;
	height: 100%;            
}

.myui-table th.fix-column
{
	padding: 0!important;
	margin: 0!important;
	white-space:nowrap;
	font-size: 1px!important;
}

.myui-table th:hover .split
{
	border-right:1px solid #333;
}

.myui-table th .split:hover
{
	border-right:1px solid #333;
}

.myui-table .sort-caret {
	width:0;
	height:0;
	margin-left:2px;
}
.myui-table .sort-caret.disabled
{
	color:#ddd;
}
.myui-table .sort-caret.desc:after
{
	content:'\25BC';            
}

.myui-table .sort-caret.asc:after {
	content: '\25B2';
}

.myui-table .sel-box.radio
{
	appearance:radio;
	-webkit-appearance:radio;
	-ms-appearance:radio;
}

.myui-table .sel-box.checkbox
{
	appearance:checkbox;
	-webkit-appearance:checkbox;
	-ms-appearance:checkbox;
}

.myui-table .rowid,.rowindex
{
	padding-left: 0px!important;
	padding-right: 0px!important;
}