.myui-inputcombo
{
	width: 100%;
	position: relative;
}

.myui-combo-input-container
{
	width: 100%;
	border: 1px solid #ddd;
	padding: 5px;
	cursor:text;
}

input.myui-combo-input
{
	border: 0px;
	padding: 0px;
	margin:0px;
	width:100%;
	outline: none;
}