.myui-menu
{
	border:1px solid #ddd;
	background-color: #fff;
	position: fixed;
}

.myui-menu-item
{
	padding: 5px;
	border-bottom: 1px solid #ddd;
}

.myui-menu-item:last-child
{
	border-bottom: 0;
}

.myui-menu-item:hover
{
	background-color: #f9f9f9;
}